PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/shoaib_project
JWT_SECRET=change_me
NODE_ENV=development
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=Admin@12345
SEED_VENDOR_EMAIL=vendor@example.com
SEED_VENDOR_PASSWORD=Vendor@12345
SEED_CUSTOMER_EMAIL=customer@example.com
SEED_CUSTOMER_PASSWORD=Customer@12345
SEED_PRODUCTS_COUNT=1200

